.all-products-section {
  margin-top: 30px;
}
.container-xl {
  width: 90%;
  margin: 0 auto;
}

.all-products-section-title h2 {
  font-family: "Cormorant", serif;
  font-size: 30px;
}

.all-products-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .all-products-container {
    flex-direction: column;
  }
  .container-xl {
    width: 80%;
  }
}
