.create-admin-section h2 {
  font-family: "Cormorant", serif;
  font-size: 30px;
  margin-bottom: 50px;
}

.create-admin-form-section form input[type="email"] {
  display: block;
  width: 40%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid blue;
  outline: none;
}

#create-admin-btn {
  display: block;
  margin-top: 20px;
  padding: 15px 30px;
  background: linear-gradient(to right, #ff0090, #002bb8);
  font-size: 14px;
}
